@model IEnumerable<projeödev.Models.Ogrenci>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="@Url.Action("OgrenciAdd","Home")" class="btn px-15 btn-primary">
    <i class="las la-plus fs-16"></i>Yeni Öğrenci Ekle
</a>
<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel">
            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr class="userDatatable-header">
                        <th>
                            <span class="userDatatable-title">ÖğrenciId</span>
                        </th>
                        <th>
                            <span class="userDatatable-title float-right">Öğrenci No</span>
                        </th>
                        <th>
                            <span class="userDatatable-title float-right">Adı Soyadı</span>
                        </th>
                        <th>
                            <span class="userDatatable-title float-right">Bölümü</span>
                        </th>
                        <th>
                            <span class="userDatatable-title float-right">Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (var ogrenci in Model)
                        {
                            <tr>
                                <td>
                                    <div class="userDatatable-content" style="align-items:center">
                                        @ogrenci.OgrenciId
                                    </div>
                                </td>
                                <td>
                                    <div class="userDatatable-content">
                                        @ogrenci.OgrenciNo
                                    </div>
                                </td>
                                <td>
                                    <div class="userDatatable-content">
                                        @ogrenci.AdSoyad
                                    </div>
                                </td>
                                <td>
                                    <div class="userDatatable-content">
                                        @ogrenci.Bolum
                                    </div>
                                </td>
                                <td>
                                    <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                        <li>
                                            <a href="@Url.Action("OgrenciEdit","Home", new {  id=ogrenci.OgrenciId  })" class="btn btn-primary btn-xs">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("OgrenciRemove","Home", new {  id=ogrenci.OgrenciId  })" class="btn btn-danger btn-xs">
                                                <i class="fa fa-trash-o "></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">&nbsp;</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
